<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="userId" value="4"/>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Bijaya Chhetri/IdeaProjects/RESTAssuredApi_Automation/src/test/java/dataDriven/DataDriven_FromAnotherClass.java">
        <classes>
            <class name="dataDriven.DataDriven_using_testNG_Parameter"/>

        </classes>
    </test>
</suite>